<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="openLoginSignUp()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Cadastro/Login</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="toolbar-spacer"></span>

  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>
<div class="box-container">
  <div class="tryNow">
    <h1>Ajuda e Suporte</h1>
    <p>
      Bem-vindo à seção de suporte do HEIMDALL! Aqui você encontrará informações
      e recursos para tirar dúvidas e resolver problemas comuns sobre o uso da
      nossa plataforma.
    </p>

    <section class="first-steps-section">
      <h2>Primeiros Passos</h2>
      <p>
        Se você é novo no HEIMDALL, comece criando sua conta e explorando as
        funcionalidades de consulta e reserva.
      </p>
    </section>

    <section class="consult-section">
      <h2>Reservas e Consultas</h2>
      <ul>
        <li>
          <strong>Consultar horários de aulas:</strong> Acesse o calendário para
          verificar a agenda de suas aulas.
        </li>
        <li>
          <strong>Reservar uma sala:</strong> Para reservar uma sala, acesse a
          aba de reservas e siga as instruções.
        </li>
      </ul>
    </section>

    <section class="faq-section">
      <h2>Dúvidas Frequentes (FAQ)</h2>
      <ul>
        <details>
          <summary>Como faço para alterar ou cancelar uma reserva?</summary>
          <p>
            Para alterar ou cancelar uma reserva, acesse a área de "Minhas
            Reservas" na aplicação, selecione a reserva que deseja modificar e
            siga as instruções para alteração ou cancelamento.
          </p>
        </details>
        <details>
          <summary>Por que não estou recebendo notificações?</summary>
          <p>
            Verifique se as notificações estão ativadas nas configurações da
            aplicação. Além disso, certifique-se de que as permissões de
            notificação no seu dispositivo estejam habilitadas para o HEIMDALL.
          </p>
        </details>
        <details>
          <summary>Como posso alterar minhas informações de conta?</summary>
          <p>
            Para alterar suas informações de conta, vá até as configurações do
            perfil e edite os campos desejados. Salve as alterações para que as
            novas informações sejam atualizadas.
          </p>
        </details>
      </ul>
    </section>

    <div class="support-section-container">
      <section class="support-section">
        <div class="support-content">
          <h2>Contato para Suporte</h2>
          <p>Para suporte adicional, entre em contato com nossa equipe:</p>
          <ul>
            <li>Telefone: (11) 1234-5678</li>
            <li>Email: suporte&#64;heimdall.com</li>
          </ul>
        </div>

        <div class="support-form">
          <form>
            <div class="form-field">
              <mat-form-field>
                <input matInput placeholder="Nome" required />
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field>
                <input matInput type="email" placeholder="E-mail" required />
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Descrição do Problema"
                ></textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="sendButton">
              Enviar
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
