.example-spacer {
  flex: 1 1 auto;
}

.manuSpacer {
  margin: 0 2%;
  width: 13%;
  display: flex;
  a {
    margin: 0 3%;
  }
}

.mat-toolbar {
  background: rgb(20, 20, 20);
  color: #1ddd04;
  margin-bottom: 1cm;
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  cursor: pointer;
}

mat-card {
  background-color: #dcdee2;
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
  width: 50%;
  margin: auto;
  padding: 1cm;
  text-align: center;
}
mat-card-content mat-form-field:nth-child(even) {
  margin-left: 2cm;
}
mat-card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1cm;
  text-align: center;
  color: black;
  font-size: 40px;
}

.saveButton {
  border-radius: 10px;
  font-family: monospace;
  font-size: 20px;
  padding: 20px;
  padding-inline: 60px;
  background-color: black;
  color: #1ddd04;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.saveButton:hover {
  background-color: #1ddd04;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}
