<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="openLoginSignUp()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Cadastro/Login</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Mapa do Site</span>
      </button>
      <button (click)="openSalas()" mat-menu-item>
        <mat-icon>meeting_room</mat-icon>
        <span>Salas</span>
      </button>
      <button (click)="openReservas()" mat-menu-item>
        <mat-icon>event</mat-icon>
        <span>Reservas</span>
      </button>
    </mat-menu>
  
    <span class="tituloH">HEIMDALL</span>
  
  </mat-toolbar>

  <mat-card>
    <mat-card-title>Cadastro de Salas</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
            <mat-label>Numero da Salas</mat-label>
          <input matInput type="number" placeholder="Numero da Salas" [(ngModel)]="numeroSalas" name="numeroSalas">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Qte. de Cadeiras</mat-label>
          <input matInput type="number" placeholder="Qte. de Cadeiras" [(ngModel)]="numeroCadeiras" name="numeroCadeiras">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Qte. de Mesas</mat-label>
          <input matInput type="number" placeholder="Qte. de Mesas" [(ngModel)]="numeroMesas" name="numeroMesas">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Qte. de Cadeiras por Mesa</mat-label>
          <input matInput type="number" placeholder="Qte. de Cadeiras por Mesa" [(ngModel)]="cadeirasPorMesa" name="cadeirasPorMesa">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Qte. de Computadores</mat-label>
          <input matInput type="number" placeholder="Qte. de Computadores" [(ngModel)]="numeroComputadores" name="numeroComputadores">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Capacidade da sala</mat-label>
          <input matInput type="number" placeholder="Capacidade da sala" [(ngModel)]="capacidade" name="Capacidade">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Qte. de Projetores</mat-label>
          <input matInput type="number" placeholder="Qte. de Projetores" [(ngModel)]="projetor" name="projetor">
        </mat-form-field>
      </form>
    </mat-card-content>

    
    <button (click)="save()" class="saveButton">Cadastrar</button>
  </mat-card>