<mat-toolbar>
  <!-- Botão para voltar para a página anterior -->
  <button mat-icon-button (click)="goBack()">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Botão do menu existente -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>

<mat-card>
  <mat-card-title
    >{{ salaToEdit.valid ? "Edição" : "Cadastro" }} de Salas</mat-card-title
  >
  <mat-card-content>
    <form [formGroup]="resgiterForm" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>Identificação das salas</mat-label>
        <input
          formControlName="ident_sala"
          matInput
          type="text"
          placeholder="Identificação das salas"
          name="ident_sala"
        /> </mat-form-field
      ><mat-form-field>
        <mat-label>Disponível?</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nº de cadeiras</mat-label>
        <input
          formControlName="num_cadeiras"
          matInput
          type="number"
          placeholder="Nº de cadeiras"
          name="num_cadeiras"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nº de mesas</mat-label>
        <input
          formControlName="num_mesas"
          matInput
          type="number"
          placeholder="Nº de mesas"
          name="num_mesas"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nº de computadores</mat-label>
        <input
          formControlName="num_computadores"
          matInput
          type="number"
          placeholder="Nº de computadores"
          name="num_computadores"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nº de projetores</mat-label>
        <input
          formControlName="num_projetores"
          matInput
          type="number"
          placeholder="Nº de projetores"
          name="num_projetores"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nº de lousas</mat-label>
        <input
          formControlName="num_lousas"
          matInput
          type="number"
          placeholder="Nº de lousas"
          name="num_lousas"
        />
      </mat-form-field>
      <br />
      <button type="submit" class="saveButton">
        {{ salaToEdit.valid ? "Editar" : "Cadastrar" }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
