<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon> account_circle </mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>
<div class="blocos-container">
  <div class="content">
    <div class="bloco">
      <div class="header">
        <mat-icon>thumb_up</mat-icon>
        <h2 style="margin-left: 10px">Interesses</h2>
      </div>
      <div class="container">
        <div class="cards">
          <mat-card class="card-width">
            <mat-card-header>
              <mat-card-title class="title-card"
                >Solicitar interesse em turma</mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button (click)="redirectSolicitarTurma()" mat-button>
                Selecionar
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="bloco">
      <div class="header">
        <mat-icon>meeting_room</mat-icon>
        <h2 style="margin-left: 10px">Reservas</h2>
      </div>
      <div class="container">
        <div class="cards">
          <mat-card class="card-width">
            <mat-card-header>
              <mat-card-title class="title-card">Ver reservas</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button (click)="verReserva()" mat-button>Selecionar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
