.mat-toolbar {
  background: #000000;
  color: #1eff00;
}

button:hover {
  background: #1ddd04 !important;
  color: black !important;
}

.header {
  background: black;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  color: #1ddd04;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  margin-bottom: 20px;
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  background: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  mat-card-header {
    background-color: #83cf79;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  button {
    background: black;
    color: #1ddd04;
  }
}

.novoCard {
  background: white;
  color: black;

  mat-card-header {
    background-color: #83cf79;
    mat-card-title {
      color: black;
    }
  }
  button {
    background: black;
    color: #1ddd04;
  }
}

mat-card-header {
  margin-bottom: 2%;
  background: #83cf79;
  height: 2cm;
}

mat-card-title {
  font-size: 1.5em;
}

.example-card {
  display: flex;
  align-items: center;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.title-card {
  font-size: 1.2rem;
}

.add-content {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-spacer {
  flex: 1;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}

.tryNow h1 {
  background-color: black;
  color: #1eff00;
  padding: 10px;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.blocos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.content {
  display: flex;
  flex: 1 1 48%;
  box-sizing: border-box;
}

.bloco {
  background-color: #dcdee2;
  padding: 15px;
  border-radius: 10px;
  flex: 1 1 100%;
  margin: 10px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 20px;
}

.card-width {
  width: 100%;
  margin-bottom: 10px;
}
