<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-central"></div>
    <mat-menu #menu="matMenu">
      <button (click)="redirectProfile()" mat-menu-item>
        <mat-icon> account_circle </mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>apartment</mat-icon>
        <span>Instituição</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>school</mat-icon>
        <span>Professores</span>
      </button>
      <button (click)="redirectReserve()" mat-menu-item>
        <mat-icon>meeting_room</mat-icon>
        <span>Reservas</span>
      </button>
    </mat-menu>
      <span class="tituloH">HEIMDALL</span>
    </mat-toolbar>
    
    <div class="calendario-personalizado">
        <mat-calendar [dateFilter]="dateFilter" (selectedChange)="onClickDia($event)"></mat-calendar>
    </div>

    <mat-form-field class="date-range">
        <mat-label>Selecione um periodo</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker" [dateFilter]="dateFilter">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
      
      <button (click)="saveDate()" class="saveButton">SALVAR</button>

      <br>
      <br>
      <div class="calendario-personalizado">
          <h2>Dias Selecionados:</h2>
          <ul>
              <li *ngFor="let selectedDate of diasSelecionados">{{ selectedDate | date }}</li>
          </ul>
      </div>
      