.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: rgb(20, 20, 20);
  color: #1ddd04;
  margin-bottom: 1cm;
}

.logo-central {
  width: 50px;
  height: 50px;
  background-image: url(/src/assets/images/heimdall.logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
}

.dia-desabilitado {
  pointer-events: none;
}

.saveButton {
  border-radius: 20px;
  font-size: 16px;
  padding-left: calc(50% - (50px / 2));
  padding-right: calc(50% - (50px / 2));
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: black;
  color: #1eff00;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.saveButton:disabled {
  background-color: #5d5d5d;
  color: #aef4a4;
  cursor: not-allowed;
}

.insertData {
  color: #1ddd04;
}

.boxSize {
  flex: auto;
  min-width: 0;
  width: 220px;
  position: relative;
  box-sizing: border-box;
}

.boxSizeAppear {
  flex: auto;
  min-width: 0;
  width: 220px;
  position: relative;
  box-sizing: border-box;
  margin-left: 1cm;
}

mat-card {
  background-color: #dcdee2;
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
  width: 80%;
  margin: auto;
  padding: 1cm;
}

mat-card-title {
  margin-bottom: 1cm;
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}
