<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>

<mat-card>
  <mat-card-title>Reserva de Salas</mat-card-title>
  <mat-card-content>
    <form [formGroup]="resgiterForm" (ngSubmit)="saveDate()">
      <h4 *ngIf="errorMessage.invalid" style="color: red">
        {{ errorMessage.message }}
      </h4>

      <div *ngIf="!errorMessage.invalid">
        <h4>
          Garanta que existe um curso vinculado a uma disciplina (na aba de "ver
          disciplinas") e que a disciplina esteja vinculado a uma turma (na aba
          "ver turmas"), caso não tenha o vinculo, não aparecerá dados para
          serem selecionados nos campos abaixos. E caso não for um adm,
          necessário estar vinculado a uma turma
        </h4>

        <div class="calendario-personalizado">
          <h2>Dias e Horários Selecionados:</h2>
          <ul>
            <li *ngFor="let selectedDateTime of diasSelecionados">
              {{ selectedDateTime | date : "medium" }}
            </li>
          </ul>
        </div>

        <mat-form-field>
          <mat-label>Informe o Curso:</mat-label>
          <mat-select
            [disabled]="cursoList.length == 0"
            (valueChange)="changeCourse($event)"
          >
            @for (course of cursoList; track course) {
            <mat-option [value]="course.curso_id">{{ course.nome }}</mat-option>
            } @empty {
            <mat-option [value]="">Sem dados</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="disciplinaList.length > 0">
          <mat-label>Informe a disciplina:</mat-label>
          <mat-select
            (valueChange)="changeDisciplina($event)"
            formControlName="disciplina_id"
          >
            @for (class of disciplinaList; track class) {
            <mat-option [value]="class.disciplina_id">{{
              class.nome
            }}</mat-option>
            } @empty {
            <mat-option [value]="">Sem dados</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <h5
          *ngIf="
            selectionDisciplina.selected.length > 0 &&
            selectionCurso.selected.length > 0
          "
        >
          Selecione o professor para quem a sala estará reservada
        </h5>
        <mat-form-field
          *ngIf="
            selectionDisciplina.selected.length > 0 &&
            selectionCurso.selected.length > 0
          "
        >
          <mat-label>Nome do Professor:</mat-label>
          <mat-select
            (valueChange)="changeProfessorTurma($event)"
            [disabled]="teacherList.turmas.length == 0"
            formControlName="vazio"
          >
            <ng-container *ngFor="let teacherObj of teacherList?.turmas">
              <mat-option [value]="teacherObj">
                {{ teacherObj?.professor?.nome }} -> {{ teacherObj?.periodo }}
              </mat-option>
            </ng-container>
            <mat-option *ngIf="teacherList?.turmas?.length === 0" [value]=""
              >Sem dados</mat-option
            >
          </mat-select>
        </mat-form-field>

        <div
          *ngIf="
            selectionDisciplina.selected.length > 0 &&
            selectionCurso.selected.length > 0 &&
            selectionProfessorTurma.selected.length > 0
          "
          class="insertData"
        >
          <h5>Escolha a sala que deseja reservar:</h5>
          <mat-form-field *ngIf="disciplinaList.length > 0">
            <mat-label>Sala:</mat-label>
            <mat-select formControlName="sala_id">
              @for (room of salaList; track room) {
              <mat-option [value]="room.sala_id">{{
                room.ident_sala
              }}</mat-option>
              } @empty {
              <mat-option [value]="">Sem dados</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <h5>Reserve os horários requeridos:</h5>
          <mat-form-field class="boxSize">
            <mat-label>Hora de Início:</mat-label>
            <mat-select [(ngModel)]="startTime" formControlName="horaInicio">
              <mat-option *ngFor="let hour of hours" [value]="hour">{{
                hour
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="resgiterForm.get('horaInicio')?.value !== ''"
            class="boxSizeAppear"
          >
            <mat-label>Hora de Término:</mat-label>
            <mat-select [(ngModel)]="endTime" formControlName="horaFim">
              <mat-option *ngFor="let hour of hours" [value]="hour">{{
                hour
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="error" style="color: red; margin-bottom: 1cm">
            {{ error }}
          </div>
          <div>
            <mat-form-field class="boxSizeAppear">
              <mat-label>Selecione um periodo</mat-label>
              <mat-date-range-input
                [rangePicker]="rangePicker"
                [dateFilter]="dateFilter"
              >
                <input
                  matStartDate
                  formControlName="dataInicio"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="dataFim"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="rangePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button
                    mat-raised-button
                    color="primary"
                    matDateRangePickerApply
                    (click)="applyDateRange()"
                  >
                    Apply
                  </button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <br />

      <button type="submit" class="saveButton">Reservar</button>
    </form>
  </mat-card-content>
</mat-card>
