.example-cardLoginCadastro {
  max-width: 700px;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.example-full-width {
  margin-top: 1cm;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .example-cardLoginCadastro {
  max-width: 700px;
  min-width: 700px;
  max-height: 463px;
  min-height: 300px;
}

@media (max-width: 768px) {
  .example-cardLoginCadastro {
    max-width: 100%; /* Allow full width on smaller screens */
    min-width: 100%;
    padding: 10px; /* Add padding for better spacing on smaller screens */
    min-height: unset; /* Remove minimum height for better content flow */
  }

  .mat-form-field {
    margin-top: 0.5cm; /* Adjust form field margin for smaller screens */
  }
}

::ng-deep .center-content .mat-mdc-tab-body-content {
  overflow: hidden;
}