<div class="center-content">
  <mat-card class="example-cardLoginCadastro">
    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="foco">
        <mat-tab #tabLogin label="Login">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                type="email"
                matInput
                placeholder="Email"
                value=""
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input
                formControlName="password"
                type="password"
                matInput
                placeholder="Password"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" type="submit">Login</button>
          </form>
        </mat-tab>
        <mat-tab label="Solicitação de cadastro de aluno">
          <form
            [formGroup]="cadastroAlunoForm"
            (ngSubmit)="solicitacaoCadastro()"
          >
            <mat-form-field class="example-full-width">
              <mat-label>Nome Usuário</mat-label>
              <input
                formControlName="nome"
                type="text"
                matInput
                placeholder="Nome"
                value=""
              />
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email Usuário</mat-label>
              <input
                formControlName="email"
                type="email"
                matInput
                placeholder="Email"
                value=""
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input
                formControlName="password"
                type="password"
                matInput
                placeholder="Password"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirme a Senha</mat-label>
              <input
                formControlName="confirmPassword"
                type="password"
                matInput
                placeholder="Password"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Matrícula</mat-label>
              <input
                formControlName="matricula"
                type="text"
                matInput
                placeholder="Matrícula"
                value=""
              />
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>

            <button mat-button type="submit" color="primary">Cadastrar</button>
          </form>
        </mat-tab>

        <mat-tab label="Solicitação de cadastro de professor/adm">
          <form [formGroup]="cadastroProfessorAdmForm" (ngSubmit)="cadastro()">
            <mat-form-field class="example-full-width">
              <mat-label>Nome Usuário</mat-label>
              <input
                formControlName="nome"
                type="text"
                matInput
                placeholder="Nome"
                value=""
              />
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email Usuário</mat-label>
              <input
                formControlName="email"
                type="email"
                matInput
                placeholder="Email"
                value=""
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input
                formControlName="password"
                type="password"
                matInput
                placeholder="Password"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirme a Senha</mat-label>
              <input
                formControlName="confirmPassword"
                type="password"
                matInput
                placeholder="Password"
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button mat-button type="submit" color="primary">Cadastrar</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
