<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>primeira opção0</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>segunda opção</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>terceira opção</span>
    </button>
  </mat-menu>

  <span>HEIMDALL</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Área usuário</mat-card-title>
      <mat-card-subtitle style="margin-left: 1cm;">Login/Cadastro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button color="primary" (click)="login()">Login</button>
        </mat-tab>
        <mat-tab label="Cadastre-se">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="remail">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="rpassword">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="rcpassword">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button color="primary" (click)="register()">Cadastrar</button>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card>
</div>
