.dadosPessoais {
  background-color: #a9aeab;
  padding: 20px;
  text-align: center;
}
.nome {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.mat-form-field .mat-form-field-label {
  color: #000000 !important;
}

.mat-input-element {
  color: #000000;
}

.mat-icon {
  color: #17c100;
}

.btn2 {
  background-color: #0a5600;
  color: #f7f7f7;
}

.btn2:hover {
  background-color: #1eff00;
}

button.mat-raised-button.mat-secondary {
  background-color: #0a5600;
  color: #f7f7f7;
}

button.mat-raised-button.mat-secondary:hover {
  background-color: #1eff00;
}
