.mat-toolbar {
  background: rgba(255, 215, 64, 0.8705882353);
  color: var(--mat-toolbar-container-text-color);
}

.tituloInst {
  position: relative;
  left: 45%;
}

::ng-deep .btnsFiltros .mat-mdc-list-item-unscoped-content {
  display: flex;
  justify-content: space-between;
}

.tituloH {
  font-size: 1.4em;
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: rgb(250 203 27 / 87%);
}

::ng-deep mat-sidenav-container {
  height: 100%;
}

::ng-deep mat-form-field {
  width: 120%;
}

.rooms {
  padding-left: 1%;
}

.professores {
  height: 20% !important;
}

.headerSideNav {
  z-index: 99;
  width: 56.5vh;
}

.semResultados {
  width: 100%;
  height: 100%;
  background-color: white;
  animation: colorChange 1s linear forwards;
  mat-card {
    position: relative;
    top: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

@keyframes colorChange {
  0% {
    background-color: white;
  }
  100% {
    background-color: #dedede;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.sala-container {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;

  .sala-card {
    width: 23%;
    margin-top: 3%;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.minmax {
  display: flex;
  mat-list-item {
    width: 170px !important;
  }
}
