<mat-toolbar>
    <button mat-icon-button (click)="openHome()">
      <mat-icon style="float: right;">home</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="openLoginSignUp()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Cadastro/Login</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Mapa do Site</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Sobre</span>
      </button>
      <button (click)="openReservas()" mat-menu-item>
        <mat-icon>event</mat-icon>
        <span>Reservas</span>
      </button>
    </mat-menu>
  
    <span class="tituloH">HEIMDALL</span>
  
</mat-toolbar>

<div class="table-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. profess" #input>
    </mat-form-field>
  
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef>Número da Sala</mat-header-cell>
        <mat-cell *matCellDef="let sala">{{ sala.numero }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="professor">
        <mat-header-cell *matHeaderCellDef>Nome do Professor</mat-header-cell>
        <mat-cell *matCellDef="let sala">{{ sala.professor }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="materia">
        <mat-header-cell *matHeaderCellDef>Matéria</mat-header-cell>
        <mat-cell *matCellDef="let sala">{{ sala.materia }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dia">
        <mat-header-cell *matHeaderCellDef>Dia</mat-header-cell>
        <mat-cell *matCellDef="let sala">{{ sala.dia | date:'medium' }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>