.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    background: rgb(20, 20, 20);
    color: yellow;
    margin-bottom: 1cm;
  }
  
  .logo-central {
    width: 50px;
    height: 50px;
    background-image: url(/src/assets/images/heimdall.logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .tituloH {
    font-size: 2em;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
  }
  
  h1{
    text-align: center;
    margin: 1cm;
  }
  
  .insertData{
    color: yellow;
  }
  
  .boxSize{
    flex: auto;
    min-width: 0;
    width: 180px;
    position: relative;
    box-sizing: border-box;
  }

  
  .deleteButton{
    border-radius: 5px;
    font-family:monospace;
    font-size: 16px;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 1cm;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }

  
.table-container {
  width: 180%;
  margin: auto;
  margin-top: 1cm;
  border: 2px solid rgb(0, 0, 0);
}

mat-table{
  background-color: #ffd740de;
}

/*.demo-button-container{
  position: absolute;
  margin-left: 2cm;
}

.demo-button + .demo-button {
  margin-left: 8px;
}*/

.deleteButton{
  border-radius: 5px;
    font-family:monospace;
    font-size: 16px;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 1cm;
    background-color: yellow;
    color: black;
    cursor: pointer;
    margin-right: 1cm;
    margin-bottom: 20px;
}

mat-card{
  background-color: rgb(20, 20, 20);
  border: 3px solid yellow;
  width: 30%;
  margin: auto;
  padding: 1cm;
}

mat-card-title{
  margin-bottom: 1cm;
  text-align: center;
  color: yellow;
}

mat-card h3{
  color: yellow;
  text-align: center;
}

@media (max-width: 768px) {
  .tituloH {
    font-size: 1.5em; /* Aumentar tamanho da fonte do título para melhor legibilidade em mobile */
  }

  .insertData {
    width: 100%; /* Adjust width to 100% for smaller screens */
    margin-left: 0; /* Remove margin-left for smaller screens */
  }

  .boxSize {
    width: 100%; /* Adjust width to 100% for smaller screens */
  }

  .saveButton {
    float: none; /* Remove float for smaller screens */
    margin: 0 auto; /* Center the button */
    width: 50%; /* Adjust width for smaller screens */
  }

  mat-card{
    width: 100%;
    border: 10% solid yellow;
    padding: 20px; /* Ajustar preenchimento para melhor layout em mobile */
  }

  mat-form-field {
    margin-left: 0; /* Remover margem esquerda nos campos de formulário para melhor espaçamento */
    margin-bottom: 10px; /* Adicionar espaço entre campos de formulário */
  }

  .deleteButton {
    width: 100%; /* Tornar o botão com largura total em mobile */
    margin: 10px 0; /* Adicionar espaço ao redor do botão */
  }
}