<mat-toolbar>
    <button mat-icon-button (click)="openHome()">
      <mat-icon style="float: right;">home</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="openLoginSignUp()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Cadastro/Login</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Mapa do Site</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Sobre</span>
      </button>
      <button (click)="openReservas()" mat-menu-item>
        <mat-icon>event</mat-icon>
        <span>Reservas</span>
      </button>
    </mat-menu>
  
    <span class="tituloH">HEIMDALL</span>
  
</mat-toolbar>

<h1>DELETAR RESERVA DE SALAS</h1>

<h3 style="color: red; text-align: center;">As deletas serão permanentes!</h3>

<div class="insertData">
  <h5>Escolha o parametro para deletar a sala:</h5>
  <mat-form-field>
    <mat-label>Escolha</mat-label>
    <mat-select [(value)]="escolha">
      <mat-option value="Sala">Número da sala</mat-option>
      <mat-option value="Professor">Nome do professor</mat-option>
      <mat-option value="Matéria">Matéria</mat-option>
      <mat-option value="Dia">Dia</mat-option>
    </mat-select>
  </mat-form-field>

  <h5 *ngIf="escolha=='Sala'">Escolha a sala que possui uma reserva que deseja deletar:</h5>
  <mat-form-field class="boxSize" *ngIf="escolha=='Sala'">
    <mat-label>Sala:</mat-label>
    <mat-select (selectionChange)="selectSala($event.value)" [(value)]="sala">
      <mat-option *ngFor="let numero of numeroSala" [value]="numero">{{ numero }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>