.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: black;
  color: yellow;
}

.logo-central {
  width: 50px;
  height: 50px;
  background-image: url(/src/assets/images/heimdall.logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

h1 {
  text-align: center;
  margin: 1cm;
}

.insertData {
  width: 20cm;
  margin-left: 1cm;
}

.boxSize {
  width: 33%;
}

.table-container {
  width: 95%;
  margin: auto;
  margin-top: 1cm;
  border: 2px solid rgb(0, 0, 0);
  overflow-x: auto; /* Enable horizontal scrolling */
}

mat-table {
  background-color: #ffd740de;
  width: 100%;
  display: block; /* Make the table block to enable overflow */
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: -20px;
}

.demo-button-container {
  position: absolute;
  margin-left: 2cm;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.cards-container {
  width: 90%;
  margin: auto;
  margin-top: 1cm;
}

.card {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .tituloH {
    font-size: 1.5em; /* Reduzir tamanho da fonte do título */
  }
  .mat-header-cell, .mat-cell {
    padding: 6px; /* Reduzir padding em telas pequenas */
  }
  .mat-form-field {
    width: 100%; /* Form field ocupa toda a largura */
  }
  .table-container{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .tituloH {
    font-size: 1.5em; /* Reduzir tamanho da fonte do título */
  }

  .mat-header-cell, .mat-cell {
    font-size: 12px; /* Reduzir tamanho da fonte na tabela */
  }

  .mat-mdc-header-cell, .mat-mdc-cell {
    font-size: 12px; /* Reduzir tamanho da fonte na tabela */
  }

  /* Esconder colunas menos importantes em telas pequenas */
  .mat-column-cadeiras, .mat-column-mesas, .mat-column-cadeirasPorMesa,
  .mat-column-computadores, .mat-column-capacidade, .mat-column-projetor {
    display: none;
  }
}