.mat-toolbar {
  background: rgb(20, 20, 20);
  color: #1ddd04;
  display: flex;
  align-items: center;
  padding: 10px;
}

li {
  color: #a9c5a5;
  font-size: 1.2em;
  margin: 0 auto;
  width: 80%;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0; /* Aplicar margem superior e inferior apenas */
  background-color: rgb(20, 20, 20);
  width: 100%; /* Ajustar a largura para 100% */
}

.logo-central {
  z-index: 999;
  width: 225px;
  height: 225px;
  margin-right: 5%;
  background-image: url(../../assets/images/heimdall.logo.png);
  background-size: cover;
}

.tryNow {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  padding: 5%;
  border-radius: 10px;
  z-index: 999;
  justify-content: center;
  width: 50%; /* Ajustar a largura para centralizar */
}

.tryNow p {
  font-size: 1.2em;
  width: 80%;
  margin: 1.2em auto;
  color: #a9c5a5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tryNow button {
  background-color: #1ddd04;
  color: rgb(0, 0, 0);
  font-weight: 900 !important;
  font-family: sans-serif !important;
  font-size: 1.2em !important;
  margin-top: 1em; /* Espaçamento adicional para o botão */
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color: #1ddd04;
  margin-left: 20px; /* Espaçamento à esquerda para o título */
}

@media (max-width: 768px) {
  .tituloH {
    font-size: 1.5em;
  }

  .box-container {
    flex-direction: column;
    margin: 10% 0; /* Aplicar margem superior e inferior apenas */
    padding: 5%;
    width: 90%; /* Ajustar a largura para 100% */
  }

  .logo-central {
    margin-right: 0;
    margin-bottom: 5%;
  }

  .tryNow {
    width: 90%;
    padding: 10%;
  }

  .tryNow p {
    font-size: 1.5em;
    align-self: center;
  }

  .mat-toolbar {
    width: 100%;
  }
}

.toolbar-spacer {
  flex: 1;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}
