<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="openDialog()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Cadastro/Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Mapa do Site</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Sobre</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <div class="search-container">
    <input type="search" aria-label="search" placeholder="Search" />
    <div class="box-icon-search"><mat-icon class="search">search</mat-icon></div>
    <div class="search-box-shortcut">/</div>
  </div>
</mat-toolbar>
<div class="box-container">
  <div class="logo-central"></div>
  <div class="tryNow">
    <p>
      Organização Acadêmica Inspirada por Heimdall.
      </p>
      <button mat-raised-button color="primary" (click)="openDialog()">Tente agora!</button>
  </div>
  <div class="top-box">

  </div>
  <div class="bottom-box">

  </div>
</div>
