<mat-toolbar>
  <!-- Botão para voltar para a página anterior -->
  <button mat-icon-button (click)="goBack()">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Botão do menu existente -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>

<div class="container-reservas-feitas">
  <form class="formByProf"  [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-form-field>
      <mat-label>Informe o Curso:</mat-label>
      <mat-select
        [disabled]="cursoList.length == 0"
        (valueChange)="changeCourse($event)"
        formControlName="curso"
      >
        @for (course of cursoList; track course) {
        <mat-option [value]="course.curso_id">{{ course.nome }}</mat-option>
        } @empty {
        <mat-option [value]="">Sem dados</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="disciplinaList.length > 0">
      <mat-label>Informe a Matéria:</mat-label>
      <mat-select
        (valueChange)="changeClass($event)"
        formControlName="disciplina"
      >
        @for (class of disciplinaList; track class) {
        <mat-option [value]="class.disciplina_id">{{
          class.nome
        }}</mat-option>
        } @empty {
        <mat-option [value]="">Sem dados</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="teacherList.length > 0">
      <mat-label>Nome do Professor:</mat-label>
      <mat-select
        formControlName="professor"
      >
        @for (teacher of teacherList; track teacher) {
        <mat-option [value]="teacher.professor_id"> {{ teacher.nome }} </mat-option>
        } @empty {
        <mat-option [value]="">Sem dados</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <button
      type="submit"
      mat-raised-button
      class="demo-button"
    >
      BUSCAR
    </button>
  </form>
</div>


