<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="openLoginSignUp()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Cadastro/Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Mapa do Site</span>
    </button>
    <button (click)="openSalas()" mat-menu-item>
      <mat-icon>meeting_room</mat-icon>
      <span>Salas</span>
    </button>
    <button (click)="openReservas()" mat-menu-item>
      <mat-icon>event</mat-icon>
      <span>Reservas</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

</mat-toolbar>

<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    FAZER NOVAS RESERVAS
  </button>
  <button
      mat-raised-button
      [disabled]="!salas.length"
      (click)="removeData()"
      class="demo-button">
    DELETAR RESERVAS
  </button>
</div>
<div class="table-container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. profess" #input>
  </mat-form-field>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef>Número da Sala</mat-header-cell>
      <mat-cell *matCellDef="let sala">
        <span *ngIf="sala.room_id==undefined||sala.room_id==null">não encontrado</span>
        <span *ngIf="sala.room_id!=undefined&&sala.room_id!=null">{{ sala.room_id }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="professor">
      <mat-header-cell *matHeaderCellDef>Nome do Professor</mat-header-cell>
      <mat-cell *matCellDef="let sala">
        <span *ngIf="sala.user_id==undefined||sala.user_id==null">não encontrado</span>
        <span *ngIf="sala.user_id!=undefined&&sala.user_id!=null">{{ sala.user_id }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="materia">
      <mat-header-cell *matHeaderCellDef>Matéria</mat-header-cell>
      <mat-cell *matCellDef="let sala">
        <span *ngIf="sala.class_id==undefined||sala.class_id==null">não encontrado</span>
        <span *ngIf="sala.class_id!=undefined&&sala.class_id!=null">{{ sala.class_id }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dia">
      <mat-header-cell *matHeaderCellDef>Dia</mat-header-cell>
      <mat-cell *matCellDef="let sala">
        <span *ngIf="sala.start_time==undefined||sala.start_time==null">não encontrado</span>
        <span *ngIf="sala.start_time!=undefined&&sala.start_time!=null">{{ sala.start_time | date:'medium' }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
      <mat-cell *matCellDef="let sala">
        <button mat-icon-button (click)="removeRow(sala)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>