.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: rgb(20, 20, 20);
  color: #1ddd04;
  margin-bottom: 1cm;
}

.logo-central {
  width: 50px;
  height: 50px;
  background-image: url(/src/assets/images/heimdall.logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tituloH {
  font-size: 2em;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

mat-card {
  background-color: #dcdee2;
  box-shadow: 0 2px 5px black;
}

mat-card-title {
  margin-bottom: 0.5cm;
  text-align: center;
  font-size: 30px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}

.reserva-card {
  background-color: #dcdee2;
  color: rgb(20, 20, 20);
  margin: 20px;
  padding: 20px;
}

.mat-card-header {
  color: rgb(20, 20, 20);
}

.sala-info,
.professor-info,
.turma-info {
  margin: 10px 0;
}

.dias-reservados ul {
  padding: 0;
  list-style-type: none;
}

.dias-reservados li {
  background-color: #1ddd04;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  margin: 3px 0;
}

.mat-divider {
  background-color: rgb(20, 20, 20);
}
.reserva-layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.reserva-card {
  width: 35%;
}

.lista-horarios {
  width: 35%;
  margin-top: 20px;
  padding: 20px;
}

.dias-reservados {
  padding: 0;
  list-style-type: none;
}

.dias-reservados li {
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
}
.container-reservas-feitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dcdee2;
  padding: 2%;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.formByProf {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 80%;
}
