<div class="container" *ngIf="validate">
  <div class="dadosPessoais">
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field class="nome" appearance="fill">
        <mat-label>Nome do Curso:</mat-label>
        <input formControlName="nome" matInput />
        <mat-icon matSuffix>class</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Administrador do curso</mat-label>
        <mat-select formControlName="adm">
          <mat-option *ngFor="let adm of adms" [value]="adm._id">
            {{ adm.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="alterarEmail">
        <button
          mat-button
          type="submit"
          class="btn2"
          mat-raised-button
          color="secondary"
        >
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="error" *ngIf="!validate">
  <p class="error-text">Cadastre um administrador primeiro.</p>
</div>
