<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon> account_circle </mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>apartment</mat-icon>
      <span>Instituição</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>school</mat-icon>
      <span>Professores</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Reservas</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>
</mat-toolbar>
<div *ngFor="let block of data">
  <div class="header">
    <h2>{{ block.name }}</h2>
  </div>
  <div class="container">
    <div class="cards">
      <mat-card class="novoCard card-adicionar-novo-curso card-width">
        <mat-card-header>
          <mat-card-title>{{
            "Adicione mais " + block.name + "."
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="createItem(block.name)" mat-button>Adicionar</button>
        </mat-card-actions>
      </mat-card>

      <div *ngIf="block.arr.length > 0" class="example-card">
        <mat-card *ngFor="let item of block.arr.slice(0, 2)" class="card-width">
          <mat-card-header>
            <mat-card-title class="title-card">{{ item.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button (click)="editItem(block.name, item)" mat-button>
              Editar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-card *ngIf="block.arr.length > 2" class="novoCard card-width">
        <mat-card-header>
          <mat-card-title>Ver Mais</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="seeMore(block.arr)" mat-button>Buscar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
