.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    background: rgb(20, 20, 20);
    color: yellow;
  }
  
  .logo-central {
    width: 50px;
    height: 50px;
    background-image: url(/src/assets/images/heimdall.logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .tituloH {
    font-size: 2em;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
  }
  
  h1{
    text-align: center;
    margin: 1cm;
    color: yellow;
  }
  
  .insertData{
    width: 20cm;
    margin-left: 1cm;
  }
  
  .boxSize{
    width: 33%;
  }

  
  .deleteButton{
    border-radius: 5px;
    font-family:monospace;
    font-size: 16px;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 1cm;
    background-color: yellow;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
  }

  
.table-container {
  width: 180%;
  margin: auto;
  margin-top: 1cm;
  border: 2px solid rgb(0, 0, 0);
}

mat-table{
  background-color: rgb(247, 247, 173);
}

.demo-button-container{
  position: absolute;
  margin-left: 2cm;
}
.demo-button + .demo-button {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .mat-toolbar {
    flex-wrap: wrap;
  }

  .tituloH {
    font-size: 1.5em;
  }

  .insertData {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxSize {
    width: 100%;
  }

  .deleteButton {
    padding: 10px 10px;
    width: 80%;
    margin: 0;
    align-self: center;
  }

  .table-container {
    width: 100%;
  }

  h4, h3{
    text-align: center;
  }
}
