<mat-toolbar>
  <button mat-icon-button (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>

<mat-card>
  <mat-card-title
    >{{ turmaToEdit.valid ? "Edição" : "Cadastro" }} de Turmas</mat-card-title
  >
  <mat-card-content>
    <form [formGroup]="turmaForm" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>Informe o professor:</mat-label>
        <mat-select
          formControlName="professor_id"
          [disabled]="professorList.length == 0"
        >
          <mat-option
            *ngFor="let professor of professorList"
            [value]="professor.professor_id"
          >
            {{ professor.nome }}
          </mat-option>
          <mat-option *ngIf="professorList.length === 0" [value]=""
            >Sem dados</mat-option
          >
        </mat-select>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Informe a disciplina:</mat-label>
        <mat-select
          formControlName="disciplina_id"
          [disabled]="disciplinaList.length == 0"
        >
          <mat-option
            *ngFor="let disciplina of disciplinaList"
            [value]="disciplina.disciplina_id"
          >
            {{ disciplina.nome }} ->
            {{ disciplina.curso?.nome || "Não vinculado a um curso" }}
          </mat-option>
          <mat-option *ngIf="disciplinaList.length === 0" [value]=""
            >Sem dados</mat-option
          >
        </mat-select>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Periodo:</mat-label>
        <mat-select formControlName="periodo">
          <mat-option value="matutino">Matutino</mat-option>
          <mat-option value="noturno">Noturno</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <div formArrayName="aluno_ids">
        <div *ngFor="let alunoControl of alunoControls.controls; let i = index">
          <mat-form-field [formGroupName]="i">
            <mat-label>Informe o aluno:</mat-label>
            <mat-select
              formControlName="aluno_id"
              [disabled]="alunoList.length == 0"
            >
              <mat-option
                *ngFor="let aluno of alunoList"
                [value]="aluno.aluno_id"
                >{{ aluno.nome }}</mat-option
              >
              <mat-option *ngIf="alunoList.length === 0" [value]=""
                >Sem dados</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            type="button"
            mat-icon-button
            color="warn"
            (click)="removeAluno(i)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>

      <button type="button" mat-button (click)="addAluno()">
        Adicionar aluno
      </button>

      <br />

      <button type="submit" class="saveButton">
        {{ turmaToEdit.valid ? "Editar" : "Cadastrar" }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
