
<div *ngIf="userReservas.length > 0">
    <h2>Grade Horária de {{ dataUser.name }}</h2>
    <table>
      <thead>
        <tr>
          <th>Início</th>
          <th>Fim</th>
          <th>Class ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of userReservas">
          <td>{{ reserva.start_time }}</td>
          <td>{{ reserva.end_time }}</td>
          <td>{{ reserva.class_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="userReservas.length === 0">
    <p>Nenhuma reserva encontrada.</p>
  </div>

  <tr *ngFor="let reserva of userReservas">
    <td>{{ formatDate(reserva.start_time) }}</td>
    <td>{{ formatDate(reserva.end_time) }}</td>
    <td>{{ reserva.class_id }}</td>
  </tr>
  