<table class="table-container">
  <thead>
    <tr>
      <th>Horário</th>
      <th>Segunda</th>
      <th>Terça</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sábado</th>
      <th>Domingo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hour of tableHours">
      <td>{{ hour }}:00</td>
      <td *ngFor="let day of daysOfWeek">
        <div class="reservation">{{ getReservation(day, hour) }}</div>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="exceptions.length > 0" class="exceptions">
  <h3>Exceções</h3>
  <ul>
    <li *ngFor="let exception of exceptions">
      {{ exception.dateIni | date: 'short' }} - {{ exception.dateFim | date: 'short' }}: Sala {{ exception.roomId }}, Aula {{ exception.classId }}
    </li>
  </ul>
</div>
