<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </button>
  </mat-menu>

  <span class="tituloH">HEIMDALL</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <img src="assets/images/ifsp.logo.png" class="logo" />
</mat-toolbar>

<div class="container-table">
  <mat-form-field>
    <mat-label>Filtro por palavras chaves</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex: SP000000"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="EDIT">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td class="select" mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onEditCheckboxChange(row)"
            [checked]="selectionEdit.isSelected(row)"
            [disabled]="selectionDelete.isSelected(row)"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="DELETE">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRowsDelete() : null"
            [checked]="selectionDelete.hasValue() && isAllDeleteSelected()"
            [indeterminate]="
              selectionDelete.hasValue() && !isAllDeleteSelected()
            "
            [disabled]="validateAllSelected(selectionEdit)"
          ></mat-checkbox>
          Deletar
        </th>
        <td class="select" mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionDelete.toggle(row) : null"
            [checked]="selectionDelete.isSelected(row)"
            [disabled]="selectionEdit.isSelected(row)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MATRÍCULA</th>
        <td class="registrationNumber" mat-cell *matCellDef="let row">
          {{ row.registro }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
        <td class="nome" mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
        <td class="email" mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td class="descricao" mat-cell *matCellDef="let row">
          {{ row.descricao }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Não foram encontrados dados para: "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>

  <div class="demo-button-container">
    <button
      mat-raised-button
      [disabled]="selectionEdit.selected.length == 0"
      (click)="edit(selectionEdit.selected[0])"
      class="demo-button"
    >
      EDITAR
    </button>
    <button
      mat-raised-button
      [disabled]="selectionDelete.selected.length < 1"
      (click)="apagar()"
      class="demo-button"
    >
      EXCLUIR
    </button>
  </div>
</div>
