.mat-toolbar {
  background: #000000;
  color: #1ddd04;
  border-bottom: 2px solid black;
}

button:hover {
  background: #1ddd04 !important;
  color: black !important;
}

.header {
  background: #1ddd04;
  display: flex;
  padding: 1% 0 0 10%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: 2%;
}

table {
  width: 100%;
  background-color: #dcdee2;
}

mat-paginator {
  background-color: #dcdee2;
}

.tituloH {
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 2em;
}

.container-table {
  margin: 5%;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}

.descricao {
  padding: 10px;
}

.table-container {
  width: 95%;
  margin: auto;
  margin-top: 1cm;
  overflow-x: auto;
}

mat-table {
  background-color: #83cf79;
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: -20px;
}

.demo-button-container {
  position: absolute;
  margin: 1% auto;
  margin-left: 3%;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
