.mat-toolbar {
  background: #000000;
  color: #1ddd04;
  border-bottom: 2px solid black;
}

.header {
  background: #1ddd04;
  display: flex;
  padding: 1% 0 0 10%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}

table {
  width: 100%;
  background-color: #dcdee2;
}

mat-paginator {
  background-color: #83cf79;
}

.tituloH {
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 2em;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container-table {
  margin: 5%;
}

.nome {
  width: 35%;
}

.email {
  width: 35%;
}

.registrationNumber {
  width: 20%;
}

.select {
  width: 5%;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  position: relative;
  width: 30px;
  margin-right: 10px;
}
