<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="redirectProfile()" mat-menu-item>
      <mat-icon> account_circle </mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>apartment</mat-icon>
      <span>Instituição</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>school</mat-icon>
      <span>Professores</span>
    </button>
    <button (click)="redirectReserve()" mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Reservas</span>
    </button>
  </mat-menu>
    <span class="tituloH">HEIMDALL</span>
  
  </mat-toolbar>
  <div class="box-container">
    <div class="logo-central"></div>
    <div class="tryNow">
      <p>
        Organização Acadêmica Inspirada por Heimdall.
        </p>
        <button mat-raised-button color="primary">Tente agora!</button>
    </div>
    <div class="top-box">
  
    </div>
  </div>
  