<div class="button-container">
    <div class="reservas-button">
      <h1 style="color: yellow;margin: 0.5cm;">Escolha alguma das opções abaixo:</h1>
      <button mat-raised-button (click)="addData()" class="demo-button">CRIAR NOVAS SALAS</button>
      <br>
      <button mat-raised-button (click)="removeData()" class="demo-button">EXCLUIR SALAS</button>
      <br>
      <button mat-raised-button (click)="seeData()" class="demo-button">VER SALAS</button>
      <br>
      <button mat-raised-button (click)="permissionData()" class="demo-button">PERMISSÃO DE SALAS</button>
    </div>
  </div>