<div class="detalhes-sala">
    <div class="header">
        <h2>Detalhes da Sala {{sala.numero}}</h2>
        <button class="reservar-btn" (click)="reservarSala()">Reservar</button>
    </div>

    <p style="margin-top: 20px;">Cadeiras: {{ sala.cadeiras }}</p>
    <p>Mesas: {{ sala.mesas }}</p>
    <p>Cadeiras por Mesa: {{ sala.cadeirasPorMesa }}</p>
    <p>Computadores: {{ sala.computadores }}</p>
    <p>Lousa: {{ sala.lousa }}</p>
    <p>Projetor: {{ sala.projetor }}</p>

    <button (click)="editarSala()">Editar</button>
    <button (click)="deletarSala()">Deletar</button>
</div>
